 
<div class = "juego">
 <img src="/Imagenes/Ahorcado.png" alt="Ahorcado" class = "juego2">
 <h2>
 @for (int i = 0; i < ViewBag.Largo;i++)
 {

    if(ViewBag.letrasEncontradas[i])
    {
        @Html.Raw(ViewBag.palabra[i]);
    }
    else
    {
      @Html.Raw("_");
    }
    @Html.Raw(" ")
 }
 </h2>

 <h2>Letras Usadas</h2>
 <h2>
 @foreach(char item in @ViewBag.LetrasUsadas)
 {
    @Html.Raw(item + " ");
 }
 </h2>
 <h2>Intentos @ViewBag.intentos</h2>

<h2>Arriesgar letra</h2>
 <form action= "@Url.Action("letra","Home")" method="post">
<input type="text" name="letraTirada" placeholder = "Ingresar letra">
<input type="submit" value="Enviar" class = "comenzar">
</form>
<h2>Arriesgar palabra</h2>
 <form action= "@Url.Action("palabra","Home")" method="post">
<input type="text" name="palabraArriesgada" placeholder = "Ingresar palabra">
<input class = "comenzar" type="submit" value="Enviar" >
</form>
 </div>
 